<!-- https://miinsta.herokuapp.com/ -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Instagram{% endblock %}</title>
    <link type="image/png" sizes="16x16" rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png">
    <link rel="stylesheet" href="{% static 'insta/styles/base_styles.css' %}">
    {% block styling_links %}

    {% endblock %}
</head>
<body>
    {% block navbar %}

    {% endblock %}
    {% block content %}

    {% endblock %}

</body>
</html>